@import "tailwindcss";

:root {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5; 
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1e1e;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar-thumb{
  background-color: #1e1e1e;
}